@page
@model Interface.Pages.Account.RegisterModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>

    <!-- Page title -->
    <title>UDC | Projeto Base</title>

    <!-- Vendor styles -->
    <link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/vendor/animate.css/animate.css"/>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css"/>

    <!-- App styles -->
    <link rel="stylesheet" href="/styles/pe-icons/pe-icon-7-stroke.css"/>
    <link rel="stylesheet" href="/styles/pe-icons/helper.css"/>
    <link rel="stylesheet" href="/styles/stroke-icons/style.css"/>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body class="blank">

<!-- Wrapper-->
<div class="wrapper">


    <!-- Main content-->
    <section class="content">
        <div class="container-center lg animated slideInDown">
            <div class="view-header">
                <div class="header-icon">
                    <i class="pe page-header-icon pe-7s-add-user"></i>
                </div>
                <div class="header-title">
                    <h3>Registar</h3>
                    <small>
                        Preencha os dados para se registar.
                    </small>
                </div>
            </div>

            <div class="panel panel-filled">
                <div class="panel-body">
                    <p>

                    </p>
                    <form action="index.html" id="loginForm" novalidate>
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <label>Endereço de Email</label>
                                <input type="" value="" id="email" class="form-control" name="">
                                <span class="form-text small">Seu endereço de email</span>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Senha</label>
                                <input type="password" value="" id="password" class="form-control" name="">
                                <span class="form-text small">Sua senha forte</span>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Repetir Senha</label>
                                <input type="password" value="" id="repeatpassword" class="form-control" name="">
                                <span class="form-text small">Repetir sua senha</span>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-accent">Registrar</button>
                            <a class="btn btn-default" href="/Account/Login">Login</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>
    <!-- End main content-->

</div>
<!-- End wrapper-->

<!-- Vendor scripts -->
<script src="/vendor/pacejs/pace.min.js"></script>
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- App scripts -->
<script src="/scripts/luna.js"></script>

</body>

</html>