@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

@* <div class="back-link">
    <a href="Index" class="btn btn-accent">Back to Dashboard</a>
</div> *@

<div class="container-center md animated slideInDown">

    <div class="view-header">
        <div class="header-icon">
            <i class="pe page-header-icon pe-7s-close-circle"></i>
        </div>
        <div class="header-title">
            <h3>404</h3>
            <small>
                Page Not Found
            </small>
        </div>
    </div>

    <div class="panel panel-filled">
        <div class="panel-body">
            Desculpe, mas a página que você está procurando não foi encontrada. Tente checar a URL e então atualize a página em seu navegador.
        </div>
    </div>
    <div>
        <a href="Index" class="btn btn-accent">Voltar ao ínicio</a>
    </div>

</div>
